.chapter-list-container {
    padding: 20px;
    margin-left: var(--sidebar-width);

  }
  
  h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .chapter-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .action-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ffbb34;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-buttons button:hover {
    background-color: #ff9c1a;
  }

  .add-chapter-form {
    margin: 20px 0;
    display: flex;
    align-items: center;
  }
  
  .add-chapter-form input {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid grey;
  }
  
  .add-chapter-form button {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-chapter-form button:hover {
    background-color: #218838;
  }

.add-chapter{
  padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.instruction-text {
  color: #6c757d; /* Màu xám */
  font-size: 0.9em;
  margin: 5px 0 10px; /* Khoảng cách trên và dưới */
}

.success-message {
  color: rgb(0, 255, 4);
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
}
